body {
    font-family: Helvetica, Sans-Serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

#zegar {
    position: absolute; 
    top: 25px; 
    left: 25px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

#data, #zegarek {
    margin: 5px 0; 
    font-size: 18px; 
}

header {
	background-image: url('tlo.jpg');
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
	margin: 0;
    padding: 0;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main {
    padding: 20px;
}

.image-container {
    display: inline-block;
    margin: 10px;
}

.image-gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    background-color: #e0e0e0;
    padding: 10px;
}


